Box-sizing reset
*, *::before, *::after {
  box-sizing: border-box;
}




/* index.css (högst upp) */
:root{
  --primary: #F1C30C; /* gul */
  --green:   #12372A; /* mörkgrön */
  --text:    #111;
}

/* knappar använder variablerna */
.btn--primary {
  background: var(--primary);
  color: var(--green);

   padding: 4px 12px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}


.top-bar {
  background-color: #12372A;      /* mörkgrön nyans */
  color: #fff;
  font-size: 0.9rem;
  padding: 1px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;

}

.social-icons img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  
}





.StorAid-logo {
    height: 40px;
    width: 100px;
  }

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
  
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-weight: 600;
}

.nav-link.active { 
  color: var(--primary); 
}


